<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>it's been !</title>

<style type="text/css">
body {
	background: url(/image/bnl.jpg) no-repeat center center fixed;
	background-size: cover;

	font-family: Helvetica;
}

#sorry-bg {
	filter: blur(5px);
	backdrop-filter: blur(5px);
	-webkit-filter: blur(5px);
	background-color: rgba(100, 100, 100, 0.5);
}

#sorry-bg,
#sorry {
	width: 400px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 8px;
	box-shadow: 8px #f0f;
	text-align: center;
	padding: 20px;
	height: 120px;

	color: #ccc;
}

#sorry em {
	font-size: 1.2em;
	color: #fff;
}

a {
	color: #eee;
}

#yo {
	position: fixed;
	bottom: 10px;
	right: 10px;

	padding: 10px;

	font-size: 0.8em;

	color: #fff;

	background-color: #000;
	border: 1px solid #666;
}

#yo p,
#yo div {
	margin: 0; padding: 0;
}

</style>
</head>
<body>

{{ yield }}

<div id="yo">
	<p>
		<a href="https://twitter.com/notjosh">@notjosh</a>
		/
		<a href="https://github.com/notjosh/itsbeen">github</a>
	</p>
</div>

</body>